<phpunit
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Main Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>tests/boostrap.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>

