<phpunit
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Configurations">
            <directory suffix=".php">./tests/Configurations</directory>
        </testsuite>
        <!--<testsuite name="LocalShell">-->
            <!--<directory suffix=".php">./tests/LocalShell</directory>-->
        <!--</testsuite>-->
        <testsuite name="SSH">
            <directory suffix=".php">./tests/SSH</directory>
        </testsuite>
    </testsuites>
</phpunit>

