<phpunit
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Configurations">
            <directory suffix=".php">./tests/Configurations</directory>
        </testsuite>
        <testsuite name="Connections">
            <directory suffix=".php">./tests/Connections</directory>
        </testsuite>
        <testsuite name="FullTestSuites">
            <directory suffix=".php">./tests/FullTestSuites</directory>
        </testsuite>
    </testsuites>
</phpunit>

